In [ ]:
import numpy as np
import pandas as pd
from joblib import Parallel, delayed
from pathlib import Path
import os
from os.path import join as pjoin
import csv

In [ ]:
PATH_QM9 = '/home/sp2120/rds/rds-pdb_dist-PDSVOqhVGhM/data/qm9/atom_15_subset'
PATH_BASE = '/home/sp2120/rds/rds-pdb_dist-PDSVOqhVGhM/data/qm9'
PATH_WORKING = '/home/sp2120/rds/rds-pdb_dist-PDSVOqhVGhM/src/qe_density'

In [ ]:
train = pd.read_csv(pjoin(PATH_BASE, 'train.csv'))
test = pd.read_csv(pjoin(PATH_BASE, 'test.csv'))

both = pd.concat([train, test], axis=0, sort=False)
both = both.set_index('molecule_name',drop=False)

both.sort_index(inplace=True)

In [36]:
both

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant
molecule_name,,,,,,
dsgdb9nsd_000001,0,dsgdb9nsd_000001,1,0,1JHC,84.8076
dsgdb9nsd_000001,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570
dsgdb9nsd_000001,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548
dsgdb9nsd_000001,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543
dsgdb9nsd_000001,4,dsgdb9nsd_000001,2,0,1JHC,84.8074
...,...,...,...,...,...,...
dsgdb9nsd_133885,7164234,dsgdb9nsd_133885,12,1,3JHN,NaN
dsgdb9nsd_133885,7164235,dsgdb9nsd_133885,12,2,2JHC,NaN
dsgdb9nsd_133885,7164236,dsgdb9nsd_133885,12,3,1JHC,NaN
dsgdb9nsd_133885,7164238,dsgdb9nsd_133885,12,6,3JHC,NaN
dsgdb9nsd_133885,7164265,dsgdb9nsd_133885,15,8,1JHC,NaN

In [1]:
parse_xyz(pjoin(PATH_QM9, 'dsgdb9nsd_000022.xyz'))

NameError: name 'parse_xyz' is not defined

In [48]:
out = {}
for f in all_files:
    out[f] = parse_xyz(pjoin(PATH_QM9, f))

In [50]:
num_atoms = [x['num_atoms'] for x in out.values()]

In [52]:
max(num_atoms

15